<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055532309431-o68p88rai3koidtb8k7ckperbk237oi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055532309431-o68p88rai3koidtb8k7ckperbk237oi4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055532309431-0a5e3b4u5cqv7lgud79v834v599387oe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDInOhze-7IiaPDaUrZJkRcxSIoMwNYXXs</string>
	<key>GCM_SENDER_ID</key>
	<string>1055532309431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.whistlingwoodz</string>
	<key>PROJECT_ID</key>
	<string>wwevent-b8ce3</string>
	<key>STORAGE_BUCKET</key>
	<string>wwevent-b8ce3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055532309431:ios:22364497720aedb632e632</string>
</dict>
</plist>